<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.instructor? %>
    <li><%= nav_link 'Courses', courses_path %></li>
  <% end %>
  <% if current_user.ta? %>
    <li><%= nav_link 'Courses', courses_path %></li>
  <% end %>
  <% if current_user.student? %>
    <li><%= nav_link 'Submit an Assignment', new_submission_path %></li>
    <li><%= nav_link 'Your Previous Submissions', submissions_path %></li>
  <% end %>
<% end %>

